.container{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

h2{
    color: #663399;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

